<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a [routerLink]="['/', 'group', groupID, 'interjections']">{{ group.Name }} - Group Interjections</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
</nav>

<div class="alert" [ngClass]='{"alert-success": alert.success, "alert-warning": alert.failure }' *ngIf='alert.message.length > 0'>
    {{ alert.message }}
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ group.Name }} - Group Interjections: {{ title }}</h5>

        <form (ngSubmit)="saveInterjection()">
            <div class="form-group">
                <label for="interjectionTitle">Interjection Title</label>
                <input type="text" class="form-control input-lg" name="interjectionTitle" [(ngModel)]="interjectionTitle" placeholder="Title"
                    required>
            </div>

            <div class="form-group">
                <label for="interjectionDescription">Interjection Description</label>
                <textarea name="interjectionDescription" class="form-control input-lg" [(ngModel)]="interjectionDescription" placeholder="Description"
                    style="height:150px" required></textarea>
            </div>

            <div class="form-group">
                <label for="interjectionPosition">Interjection Position</label>
                <input type="number" class="form-control input-lg" [(ngModel)]="interjectionPosition" name="interjectionPosition" placeholder="Position"
                    required>
            </div>

            <div class="form-row mb-3">
                <div class="col">
                    <div class="form-group">
                        <label for="interjectionSound">Interjection Sound</label>
                        <select class="form-control input-lg" [(ngModel)]="interjectionSound" name="interjectionSound" placeholder="Sound" required>
                            <option value="button-09">Communicating</option>
							<option value="beep-07">Stop/Slow Down</option>
                            <option value="button-37">Agree</option>
                            <option value="beep-10">Disagree</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="interjectionBackgroundColor">Interjection Button Background Color</label>
                        <input class="form-control" type="color" [(ngModel)]="nonInput.interjectionBackgroundColor" name="nonInput.interjectionBackgroundColor"
                        />
                    </div>

                    <div class="form-group">
                        <label for="interjectionTextColor">Interjection Button Text Color</label>
                        <input class="form-control" type="color" [(ngModel)]="nonInput.interjectionTextColor" name="nonInput.interjectionTextColor"
                        />
                    </div>

                    <div [formGroup]="myFormGroup">
                        <label for="interjectionIcon">Interjection Icon</label>
                        <div class="input-group">
                            <span class="input-group-addon mr-3">
                                <i [ngClass]="iconCss.value"></i>
                            </span>
                            <input type="text" name="iconCss" class="form-control" formControlName="iconCss" [iconPicker]="icon" [ipPosition]="'bottom'"
                                [ipWidth]="'250px'" [ipPlaceHolder]="'Choose an icon'" [ipFallbackIcon]="fallbackIcon" (iconPickerSelect)="onIconPickerSelect($event)"
                            />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="interjectionButtonPreview">Button Preview</label>
                        <div class="btn btn-block hide-pointer" name="interjectionButtonPreview" [ngStyle]="{ 'background-color': nonInput.interjectionBackgroundColor, 'color': nonInput.interjectionTextColor }">
                            <fa [name]="getIcon()" [size]=2></fa>
                            <br> {{interjectionTitle}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngFor="let error of validation">
                <label class="control-label">{{error}}</label>
            </div>

            <div class="row">
                <div class="col">
                    <a [routerLink]="['/', 'group', groupID, 'interjections']">
                        <button class="btn btn-primary btn-no-borders">Cancel</button>
                    </a>
                </div>
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary btn-no-borders">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>