.bg-blue {
    background-color: #3ca2e0;
}

.navbar-blue {
    color: white;
    border-bottom: 1px solid #dae2e4;
}

.navbar-blue .navbar-nav .nav-link, .navbar-brand {
    color: white;
}

.navbar-blue .navbar-nav .nav-link:focus, .navbar-blue .navbar-nav .nav-link:hover {
    color: #dde9f1;
}

.navbar-blue .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-blue .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}