<nav class="navbar navbar-expand-lg navbar-blue bg-blue">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']">CollabAll</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar" aria-controls="menubar" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menubar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['']" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/profile']" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a (click)="logout()" class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <router-outlet></router-outlet>
</div>