<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>

<div class="alert" [ngClass]='{"alert-success": alert.success, "alert-warning": alert.failure }' *ngIf='alert.message.length > 0'>
    {{ alert.message }}
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">My Profile</h5>

        <form (ngSubmit)="updateProfile()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" placeholder="First Name" required>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" placeholder="Last Name" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email" required>
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <select class="custom-select" name="role" [(ngModel)]="user.role">
                    <option *ngFor="let role of roles" [ngValue]="role">{{ role.FriendlyName }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="avatar">Avatar</label>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile" (change)="encodeImageFileAsURL($event)">
                        <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="user.pic">
                <img class="img-thumbnail" style="width:100px;margin:5px;" [src]='user.pic' />
            </div>

            <div class="form-group" *ngFor="let error of validation">
                <label class="control-label">{{error}}</label>
            </div>

            <div class="row">
                <div class="col">
                    <a [routerLink]="['/profile/password']">
                        <button class="btn btn-primary btn-no-borders">Reset Password</button>
                    </a>
                </div>
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary btn-no-borders">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>