<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ group.Name }} - Group Interjections</li>
    </ol>
</nav>

<div class="row mb-3">
    <div class="col text-right">
        <a [routerLink]="['/', 'group', groupID, 'interjections', '/']">
            <button type="button" class="btn btn-primary btn-no-borders">Create an Interjection</button>
        </a>
    </div>
</div>

<div class="row" *ngFor="let groups of interjectionSplices">
    <div class="col-lg-3 col-md-6 col-xs-12 h-100 mb-3" *ngFor="let interjection of groups">
        <div class="card">
            <div class="card-body">
                <div class="btn btn-block no-pointer" [ngStyle]="{ 'margin': '5px', 'background-color': interjection.BackgroundColor, 'color': interjection.TextColor }">
                    <fa [name]="interjection.Icon" [size]=2></fa>
                    <br /> {{interjection.Title}}
                </div>
            </div>
            <div class="card-footer">
                <div class="row mt-2">
                    <div class="col text-center">
                            <a [routerLink]="['/', 'group', groupID, 'interjections', interjection.ID]">
                            <button type="button" class="icon-button">
                                <span class="oi oi-people" title="Manage" aria-hidden="true"></span>
                                <span class="icon-text">Manage</span>
                            </button>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a (click)="deleteInterjection(interjection.ID)">
                            <button type="button" class="icon-button">
                                <span class="oi oi-delete" title="Delete" aria-hidden="true"></span>
                                <span class="icon-text">Delete</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>