.messages {
    overflow-y: scroll;
    height: 300px;
}

.message-group {
    display: flex;
    padding: 10px 0;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.message-group:first-of-type {
    border-top: none;
}

.avatar {
    margin-top: 5px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
}

.message {
    flex: 1;
    min-width: 0;
}

.message-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
}

.hide-overflow {
    overflow: hidden;
}

.users {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.users .list-group {
    overflow-y: scroll;
    height: 304px;
}