<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Create a Group</li>
    </ol>
</nav>

<div class="alert" [ngClass]="{'alert-success': alert.success, 'alert-warning': alert.failure }" *ngIf="alert.message.length > 0">
    {{ alert.message }}
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Create a Group</h5>

        <form (ngSubmit)="createGroup()">
            <div class="form-group">
                <label for="groupName">Group Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="group.name" placeholder="Group Name" required>
            </div>

            <div class="row">
                <div class="col-5">
                    <label for="selectAllUsers">Available Users</label>
                    <select class="custom-select" multiple size="10" name="selectedAllUsers" [(ngModel)]="selectedAllUsers">
                        <option *ngFor="let user of allUsers" [ngValue]="user">{{ user.Email }}</option>
                    </select>
                </div>
                <div class="col-2 text-center pt-5">
                    <button type="button" class="btn btn-default btn-sm" (click)="addToGroup()">
                        Add To Group
                        <br/>
                        <span class="oi oi-arrow-thick-right" title="Right" aria-hidden="true"></span>
                    </button>
                    <br/>
                    <br/>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" (click)="removeFromGroup()">
                        Remove From Group
                        <br/>
                        <span class="oi oi-arrow-thick-left" title="Right" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-5">
                    <label for="selectAllUsers">Group Members</label>
                    <select class="custom-select" multiple size="10" name="selectedGroupUsers" [(ngModel)]="selectedGroupUsers">
                        <option *ngFor="let user of group.users" [ngValue]="user">{{ user.Email }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" *ngFor="let error of validation">
                <label class="control-label">{{ error }}</label>
            </div>

            <div class="row mt-3">
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary btn-no-borders">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>