<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ group.Name }} - Group Cards</li>
    </ol>
</nav>

<div class="row mb-3">
    <div class="col text-right">
        <a [routerLink]="['/', 'group', groupID, 'cards', '']">
            <button type="button" class="btn btn-primary btn-no-borders">Create a Card</button>
        </a>
    </div>
</div>

<div class="row" *ngFor="let groups of cardSplices">
    <div class="col-lg-3 col-md-6 col-xs-12 h-100 mb-3" *ngFor="let card of groups">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title m-0">{{ card.Title }}</h3>
                {{ card.Description }}
            </div>
            <div class="card-footer">
                <div class="row mt-2">
                    <div class="col text-center">
                        <a [routerLink]="['/', 'group', groupID, 'cards', card.ID]">
                            <button type="button" class="icon-button">
                                <span class="oi oi-people" title="Manage" aria-hidden="true"></span>
                                <span class="icon-text">Manage</span>
                            </button>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a (click)="deleteCard(card.ID)">
                            <button type="button" class="icon-button">
                                <span class="oi oi-delete" title="Delete" aria-hidden="true"></span>
                                <span class="icon-text">Delete</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning mt-3" *ngIf="cardSplices.length === 0">
    There are no cards.
</div>