<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editing Password</li>
    </ol>
</nav>

<div class="alert" [ngClass]='{"alert-success": alert.success, "alert-warning": alert.failure }' *ngIf='alert.message.length > 0'>
    {{ alert.message }}
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">My Profile - Editing Password</h5>

        <form (ngSubmit)="resetPassword()">
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="New Password" required>
            </div>

            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" name="password2" [(ngModel)]="user.password2" placeholder="Confirm Password" required>
            </div>

            <div class="form-group" *ngFor="let error of validation">
                <label class="control-label">{{error}}</label>
            </div>

            <div class="row">
                <div class="col text-right">
                    <a [routerLink]="['/profile']">
                        <button class="btn btn-light btn-no-borders">Cancel</button>
                    </a>
                    <button type="submit" class="btn btn-primary btn-no-borders">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>