<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-4 text-center">
                <img src="assets/img/logo.png" />
                <div class="brand">CollabAll</div>

                <form (ngSubmit)="register()">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg input-underline" name="firstName" [(ngModel)]="user.firstName" placeholder="First Name"
                                required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg input-underline" name="lastName" [(ngModel)]="user.lastName" placeholder="Last Name"
                                required>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg input-underline" name="email" [(ngModel)]="user.email" placeholder="Email"
                                required>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control form-control-lg input-underline" name="password" [(ngModel)]="user.password" placeholder="Password"
                                required>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control form-control-lg input-underline" name="password2" [(ngModel)]="user.password2"
                                placeholder="Confirm Password" required>
                        </div>

                        <div class="form-group" *ngFor="let error of validation">
                            <label class="control-label">{{error}}</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-light btn-lg">Submit</button>&nbsp;
                    <a [routerLink]="['/login']">
                        <button class="btn btn-outline-light btn-lg">Cancel</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>